{% extends 'main/base2.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}



<main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height-2"
        data-background="{% static 'assets/img/banner/page-banner-4.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h4 class="breadcrumb-title">Checkout</h4>
                        <div class="breadcrumb-two">
                            <nav>
                                <nav class="breadcrumb-trail breadcrumbs">
                                    <ul class="breadcrumb-menu">
                                        <li class="breadcrumb-trail">
                                            <a href="index.html"><span>Home</span></a>
                                        </li>
                                        <li class="trail-item">
                                            <span>Checkout</span>
                                        </li>
                                    </ul>
                                </nav>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->

    <!-- coupon-area-start -->
    <section class="coupon-area pt-120 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
                        <div id="checkout-login" class="coupon-content">
                            <div class="coupon-info">
                                <p class="coupon-text"></p>
                                <form action="#">
                                    <p class="form-row-first">
                                        <label>Username or email <span class="required">*</span></label>
                                        <input type="text">
                                    </p>
                                    <p class="form-row-last">
                                        <label>Password <span class="required">*</span></label>
                                        <input type="text">
                                    </p>
                                    <p class="form-row">
                                        <button class="tp-btn-h1" type="submit">Login</button>
                                        <label>
                                            <input type="checkbox">
                                            Remember me
                                        </label>
                                    </p>
                                    <p class="lost-password">
                                        <a href="#">Lost your password?</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- ACCORDION END -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="coupon-accordion">
                        <!-- ACCORDION START -->
                        <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <form action="#">
                                    <p class="checkout-coupon">
                                        <input type="text" placeholder="Coupon Code">
                                        <button class="tp-btn-h1" type="submit">Apply Coupon</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <!-- ACCORDION END -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- coupon-area-end -->

    <!-- checkout-area-start -->
    <form method="post" action="{% url 'placeorder' %}">
        {% csrf_token %}
        <section class="checkout-area pb-85">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkbox-form">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="country-select">
                                        <label>state <span class="required">*</span></label>
                                        <select name="state" style="display: none;">
                                            <option value="volvo">bangladesh</option>
                                            <option value="saab">Algeria</option>
                                            <option value="mercedes">Afghanistan</option>
                                            <option value="audi">Ghana</option>
                                            <option value="audi2">Albania</option>
                                            <option value="audi3">Bahrain</option>
                                            <option value="audi4">Colombia</option>
                                            <option value="audi5">Dominican Republic</option>
                                        </select>
                                        <div class="nice-select" tabindex="0"><span class="current">bangladesh</span>
                                            <ul class="list">
                                                <li data-value="volvo" class="option selected">bangladesh</li>
                                                <li data-value="saab" class="option">Algeria</li>
                                                <li data-value="mercedes" class="option">Afghanistan</li>
                                                <li data-value="audi" class="option">Ghana</li>
                                                <li data-value="audi2" class="option">Albania</li>
                                                <li data-value="audi3" class="option">Bahrain</li>
                                                <li data-value="audi4" class="option">Colombia</li>
                                                <li data-value="audi5" class="option">Dominican Republic</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>First Name <span class="required">*</span></label>
                                        <input type="text" minlength="4" maxlength="25" value="{{user.first_name}}"
                                            id="firstname" name="firstname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Last Name <span class="required">*</span></label>
                                        <input type="text" minlength="4" maxlength="25" value="{{user.last_name}}"
                                            id="lastname" name="lastname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        <input type="text" minlength="15" maxlength="100" id="address" name="address"
                                            placeholder="Street address" required>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Town / City <span class="required">*</span></label>
                                        <input type="text" id="city" minlength="3" maxlength="100" name="city"
                                            placeholder="Town / City" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Postcode / Zip <span class="required">*</span></label>
                                        <input type="number" id="postcode" minlength="6" maxlength="6" name="postcode" style="margin: auto;" placeholder="Postcode / Zip" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Email Address <span class="required">*</span></label>
                                        <input type="email" minlength="8" maxlength="100" id="email" name="email"
                                            value="{{user.email}}" placeholder="" readonly required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Phone <span class="required">*</span></label>
                                        <input type="number" style="margin: auto;" minlength="10" maxlength="10" id="phone" name="phone"
                                            placeholder="Phone / Contact" required>
                                    </div>
                                </div>

                            </div>
                            <div class="different-address">
                                <div class="order-notes">
                                    <div class="checkout-form-list">
                                        <label>Order Notes</label>
                                        <textarea id="checkout-mess" cols="30" rows="10"
                                            placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="your-order mb-30 ">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-image"></th>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key,value in request.session.cart.items %}
                                        <tr class="cart_item ml-2">
                                            <td class="product-thumbnail"><img src="{{value.feature_image}}" alt=""
                                                    height="100px" width="100px">
                                            </td>
                                            <td class="product-name">
                                                {{value.product_name | truncatewords:10}} <strong
                                                    class="product-quantity">
                                                    <p style="color: black;">Quantity is {{value.quantity}}</p>
                                                </strong>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount">₹ {{value.price|multiply:value.quantity}}</span>
                                            </td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">₹ {{cart_total_amount}}</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Shipping</th>
                                            <td>
                                                <ul>
                                                    {% if cart_total_amount > 500 %}
                                                    <li>
                                                        <input type="radio" name="shipping">
                                                        <label>
                                                            <label>Free Shipping:</label>
                                                            <!-- Flat Rate: <span class="amount">$7.00</span> -->
                                                        </label>

                                                    </li>
                                                    {% else %}
                                                    <li>
                                                        <input type="radio" name="shipping">
                                                        <label> Shipping:</label>
                                                        Rate: <span class="amount">₹ 50.00</span>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td>₹ <input value="{{ cart_total_amount }}" id="amount" name="amount"
                                                    readonly style="text-align: center;"></td>
                                            <!-- <td><strong><span class="amount">₹{{ cart_total_amount }}</span></strong> -->
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="payment-method">

                                <div class="order-button-payment mt-20">
                                    
                                    <!-- <a class="tp-btn-h1" href="{% url 'placeorder' %}"><button
                                            type="submit">Continue</button></a> -->
                                    <!-- <a href="{% url 'placeorder' %}" ><button type="submit" class="tp-btn-h1">Continue</button></a> -->
                                    <button type="submit" class="tp-btn-h1">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- checkout-area-end -->

</main>



{% endblock %}